:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --accent: #e7e9fc;
  --subtlr-text: #8e8f99;
  --light: #f4f4fd;
  --button-active: #404bbf;
  --white-texcolor: #ffffff;
  --modal-bg: #fcfcfc;
  --timing-funcion: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
  font-family: Roboto, sans-serif;
  color: var(--dark);
  background-color: var(--white-texcolor);
  font-weight: 400;
  font-size: 16px;
line-height: 1.2;
  letter-spacing: 0.02em;
}
 

/* -----Header----- */

.logo{
  font-family: Raleway, sans-serif;
  color: var(--dark);
  letter-spacing: 0.03em;
font-weight: 800;
font-size: 18px;
line-height: 1.3;
}

.web {
  color: var(--primary-brand);
}
.header-link{
font-weight: 500;
line-height: 1.5;
text-decoration: none;
 }

 .header-item :hover, 
 .header-item :focus {
  color: var(--primary-brand);
 }
  
.header-contacts {
  list-style: none;
  font-weight: 400;
line-height: 1.5;
font-style: normal;
color: var(--dark);
}

.header-mail{
  color: var(--dark);
  text-decoration: none;
}

.header-phone {
  color: var(--dark);
  text-decoration: none;
}

.header-contacts :hover, 
.header-contacts :focus {
 color: var(--primary-brand);
}

/* Hero */

.hero-item {
  color: var(--white-texcolor);
  background-color: var(--subtlr-text);
font-weight: 700;
font-size: 56px;
line-height: 1.1;
text-align: center;
}

.button{
  font-family: inherit;
  color: var(--accent);
  background-color:var(--primary-brand)
  
}

.hero-item .button :hover 
.hero-item .button :focus{
 color: var(--button-active);
}
/* Section 1 */
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.list{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}

.item{
  font-weight: 400;
line-height: 1.5;
color: var(--text);
}

/* Section work */

.title{
  text-align: center;
  font-weight: 700;
font-size: 36px;
line-height: 1.11

}
.li{
  list-style: none;
 }

 /* Section 3 team */
 .name{
  font-weight: 500;
font-size: 20px;
line-height: 1.2
 }

.position{
  line-height: 1.5;
  color: var(--text);
}

.footer-title{
  color: var(--accent);
}